node_modules
npm-debug.log
yarn-error.log
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

# ビルド出力
dist/
build/

# ログファイル
*.log